* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: #f8f8f8;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

li {
  line-height: 48px;
  padding-left: 16px;
  cursor: pointer;
  border-bottom: 0.5px solid #fff;
}


#objectOptions, #videoSection {
  display: inline-block;
  position: absolute;
}

#objectOptions {
  width: 200px;
  background-color: #f0f0f0;
  height: 100vh;
  overflow: scroll;
}

#videoSection {
  height: 100vh;
  background: #000;
  left: 200px;
}

video {
  width: calc(100vw - 200px);
  height: 100vh;
}
